{% load static %}
<div class="card my-4">
    {% if user.is_authenticated %}
        <h5 class="card-header">Оставить комментарий:</h5>
        <div class="card-body">
            <form action="{% url 'post_detail' slug=post.url %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ comment_form.text }}
                </div>
                <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
        </div>
    {% else %}
        <h6 class="card-header"><a href="{% url 'signin' %}">Авторизуйтесь</a> или <a href="{% url 'signup' %}">зарегистрируйтесь</a> чтобы оставить комментарий</h6>
    {% endif %}
</div>

{% for comment in post.comments.all %}
    <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="https://via.placeholder.com/50

C/O https://placeholder.com/" alt="">
        <div class="media-body">
            <h5 class="mt-0">{{ comment.username }}</h5>
            {{ comment.text }}
        </div>
    </div>
{% endfor %}